oscar_lib/static/xml-schemas/simplestation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2019 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
				<xs:minLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="stationtype" type="xs:string"/>
	<xs:element name="status" type="xs:string"/>
	<xs:element name="elevation" type="xs:float"/>
	<xs:element name="established" type="xs:date"/>
	<xs:element name="international" type="xs:boolean"/>
	<xs:element name="interval" type="xs:int"/>
	<xs:element name="latitude" type="xs:float"/>
	<xs:element name="longitude" type="xs:float"/>
	<xs:element name="timezone" type="xs:string"/>
	<xs:element name="organization" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="url" type="xs:anyURI"/>
	<xs:element name="real-time" type="xs:boolean"/>
	<xs:element name="observation">
		<xs:complexType>
			<xs:all>
				<xs:element ref="variable"/>
				<xs:element ref="observationsource"/>
				<xs:element ref="affiliation"/>
				<xs:element ref="schedule"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="affiliations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="affiliation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="observations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="observation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="observationsource" type="xs:string"/>
	<xs:element name="region">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="africa"/>
				<xs:enumeration value="antarctica"/>
				<xs:enumeration value="asia"/>
				<xs:enumeration value="europe"/>
				<xs:enumeration value="northCentralAmericaCaribbean"/>
				<xs:enumeration value="southAmerica"/>
				<xs:enumeration value="southWestPacific"/>
				<xs:enumeration value="unknown"/>
				<xs:enumeration value="inapplicable"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="schedule">
		<xs:complexType>
			<xs:all>
				<xs:element ref="startMonth"/>
				<xs:element ref="endMonth"/>
				<xs:element ref="startWeekday"/>
				<xs:element ref="endWeekday"/>
				<xs:element ref="startHour"/>
				<xs:element ref="endHour"/>
				<xs:element ref="startMinute"/>
				<xs:element ref="endMinute"/>
				<xs:element ref="interval"/>
				<xs:element ref="international"/>
				<xs:element ref="real-time" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="startHour" type="hourtype"/>
	<xs:element name="endHour" type="hourtype"/>
	<xs:element name="startMinute" type="sixtytype"/>
	<xs:element name="endMinute" type="sixtytype"/>
	<xs:element name="startMonth" type="monthtype"/>
	<xs:element name="endMonth" type="monthtype"/>
	<xs:element name="startWeekday" type="weektype"/>
	<xs:element name="endWeekday" type="weektype"/>
	<xs:element name="station">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name"/>
				<xs:element ref="wigosid"/>
				<xs:element ref="latitude"/>
				<xs:element ref="longitude"/>
				<xs:element ref="elevation"/>
				<xs:element ref="country"/>
				<xs:element ref="established"/>
				<xs:element ref="region"/>
				<xs:element ref="affiliations"/>
				<xs:element ref="observations"/>
				<xs:element ref="organization" minOccurs="0"/>
				<xs:element ref="url" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="timezone" minOccurs="0"/>
				<xs:element ref="stationtype"/>
				<xs:element ref="status"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="variable" type="xs:short"/>
	<xs:element name="affiliation">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<!--<xs:attribute name="status" type="xs:string" use="required"/> -->
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="wigosid">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d+-\d+-\d+-\w{1,16}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="sixtytype">
		<xs:restriction base="xs:byte">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="59"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="hourtype">
		<xs:restriction base="xs:byte">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="weektype">
		<xs:restriction base="xs:byte">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="monthtype">
		<xs:restriction base="xs:byte">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="12"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
